# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# files to be ignored
*.class
/production/NewBank/newbank/server/.class
production/NewBank/newbank/client/.class
.idea/NewBank.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml